body{background-color:#4289f4;}
a 
{font-family: "Arial" , sans-serif;}
a:hover {color:#0000FF;}
body
{background-image: url("http://powellong.com/data/wallpapers/98/WDF_1415186.jpg");}
* {color:white;}
div {
    padding: 10px;
    border: 5px solid blue;
    margin: 0;}
p {
    border: 1px solid black;
    outline-color:red;
}
p.dotted {outline-style: dotted;}
li {
    display: inline;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #4286f4;
ul {
    width: 500px;
    padding-left: 0px;
    float: right;
    height: 54px;
    }
